<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main", "className": "wp-block-group", "style":{"spacing":{"margin":{"top":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0">
	<!-- wp:group {"className":"404-main min-vh-50 common-padding","layout":{"type":"constrained"}} -->
		<div class="wp-block-group 404-main min-vh-50 common-padding">
		    <!-- wp:group {"className":"container","layout":{"type":"constrained"}} -->
		    <div class="wp-block-group container">
		        <!-- wp:group {"className":"illustration-404","layout":{"type":"constrained"}} -->
		        <div class="wp-block-group illustration-404">
		            <!-- wp:html -->
		            <span>4</span> <iframe src="https://lottie.host/embed/2e12bb43-d87d-4004-892e-531db52684ef/NF8igKSz4I.lottie"></iframe> <span>4</span>
		            <!-- /wp:html -->
		        </div>
		        <!-- /wp:group -->
		        <!-- wp:heading {"textAlign":"center","level":1} -->
		        <h1 class="wp-block-heading has-text-align-center">OOPS! Page not found</h1>
		        <!-- /wp:heading -->
		        <!-- wp:paragraph {"align":"center"} -->
		        <p class="has-text-align-center">Sorry, we could not found the page you are looking for.</p>
		        <!-- /wp:paragraph -->
		        <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
		        <div class="wp-block-buttons">
		            <!-- wp:button {"className":"btn btn-primary btn-lg","fontSize":"medium"} -->
		            <div class="wp-block-button btn btn-primary btn-lg"><a class="wp-block-button__link has-medium-font-size has-custom-font-size wp-element-button" href="/">GO TO HOMEPAGE</a></div>
		            <!-- /wp:button -->
		        </div>
		        <!-- /wp:buttons -->
		    </div>
		    <!-- /wp:group -->
		</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
