<!-- wp:template-part {"slug":"header"} /-->


<!-- wp:group {"tagName":"main", "className": "wp-block-group", "style":{"spacing":{"margin":{"top":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0">
	<!-- wp:group {"align":"full","className":"d-flex align-items-center inner-page-hero centered-hero px-4 py-5 text-center"} -->
	<div class="wp-block-group alignfull d-flex align-items-center bg-body-tertiary inner-page-hero centered-hero px-4 py-5 text-center">
		<!-- wp:group {"layout":{"type":"constrained","contentSize":"750px"},"className":"mx-auto"} -->
		<div class="wp-block-group mx-auto">
			<!-- wp:query-title {"type":"archive", "className":"text-body-emphasis"} /-->

			<!-- wp:term-description {"className":"has-text-align-center lead mb-4"} /-->
		</div>
		<!-- /wp:group -->

	</div>
	<!-- /wp:group -->

	<!-- wp:group {"className":"section-archive common-padding"} -->
	<div class="wp-block-group section-archive common-padding">
		<!-- wp:query {"className":"alignfull container"} -->
		<div class="wp-block-query alignfull container">
			<!-- wp:post-template -->
			<!-- wp:group {"className":"card h-100 border-0"} -->
			<div class="wp-block-group card h-100 border-0">

				<!-- wp:post-featured-image {"className":"card-img-top rounded-0", "isLink":true} /-->

				<!-- wp:group {"className":"card-body p-0"} -->
				<div class="wp-block-group card-body p-0">
					<!-- wp:post-terms {"term":"category","className":"badge rounded-pill text-bg-primary"} /-->

					<!-- wp:post-title {"level":3,"isLink":true,"className":"card-title h3 mt-2"} /-->

					<!-- wp:post-excerpt {"moreText":"Read More", "className":"card-text mt-2"} /-->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->
			<!-- /wp:post-template -->

			<!-- wp:query-no-results -->
			<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
			<div class="wp-block-group"
				style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">
				<!-- wp:paragraph -->
				<p>Sorry, but nothing was found. Please try a search with different keywords.</p>
				<!-- /wp:paragraph -->
			</div>
			<!-- /wp:group -->
			<!-- /wp:query-no-results -->

			<!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","layout":{"type":"flex","justifyContent":"center"},"className":"archive-pagination d-flex justify-content-center align-items-center gap-2 mt-5"} -->
			<div
				class="wp-block-query-pagination archive-pagination d-flex justify-content-center align-items-center gap-2 mt-5">

				<!-- wp:query-pagination-previous {"label":"Prev","className":"btn btn-outline-primary"} /-->

				<!-- wp:query-pagination-numbers {"className":"pagination pagination-lg mb-0"} /-->

				<!-- wp:query-pagination-next {"label":"Next", "className":"btn btn-outline-primary"} /-->

			</div>
			<!-- /wp:query-pagination -->
		</div>
		<!-- /wp:query -->

	</div>
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->